/*base*/
body {
  color: #000000;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.05em;
  font-family: "Helvetica", "Helvetica Neue", "Yu Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

/*MODULE
-------------------------*/
/*header*/
.header {
  padding-top: 70px;
  padding-bottom: 100px;
}
.header__inner {
  width: 73.125%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 167PX;
  margin-left: auto;
  margin-right: auto;
}
.header__nav {
  width: 370px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__item {
  font-weight: bold;
  list-style-type: none;
}

/*unit*/
.unit {
  margin-bottom: 59px;
}
.unit__catch {
  margin-bottom: 20px;
  color: #898989;
  font-size: 12px;
  line-height: 1.6666666667;
}
.unit__title {
  margin-bottom: 90px;
  font-size: 38px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.2894736842;
  position: relative;
}
.unit__title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 120px;
  border-bottom: 1px solid #000000;
}
.unit__ja {
  margin-bottom: 40px;
}
.unit__eng {
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

/*card*/
.card__body {
  margin-top: 30px;
}
.card__title {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 1.3;
}
.card__type {
  color: #898989;
}
.card__text {
  margin-top: 40px;
}

/*story*/
.story__item {
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 80px;
  color: #FFFFFF;
}

/*outline*/
.outline__title {
  padding: 6px 11px;
  display: inline-block;
  color: #FFFFFF;
  background-color: #E40065;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.6666666667;
}
.outline__text {
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.7;
}
.outline__list {
  margin-top: 40px;
  margin-bottom: -15px;
}
.outline__item {
  margin-bottom: 15px;
  list-style-type: none;
}

/*footer*/
.footer__contents {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #000000;
  text-align: center;
}
.footer__inner {
  width: 73.125%;
  margin-left: auto;
  margin-right: auto;
}
.footer__title {
  margin-bottom: 30px;
  color: #FFFFFF;
  font-size: 32px;
  line-height: 1.3125;
}
.footer__form {
  display: flex;
  justify-content: center;
  align-items: strech;
}
.footer__form input[type=text] {
  width: 300px;
  height: 40px;
  border: none;
}
.footer__form input[type=submit] {
  color: #FFFFFF;
  background-color: #E40065;
  border: none;
  padding: 13px 35px;
  line-height: 1;
  margin-left: 0;
}
.footer__list {
  width: 451px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__item {
  padding-right: 20px;
  color: #FFFFFF;
  list-style-type: none;
  line-height: 1.2142857143;
  border-right: 1px solid #FFFFFF;
}
.footer__item:last-child {
  padding-right: 0;
  border-right: none;
}
.footer__copy {
  padding-top: 100px;
  padding-bottom: 60px;
  display: block;
  color: #898989;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.6666666667;
  letter-spacing: 0.05 em;
  text-align: right;
}

/*INDEX------------------------------------*/
/*works*/
.works {
  padding-top: 100px;
  padding-bottom: 100px;
}
.works__inner {
  width: 73.125%;
  margin-left: auto;
  margin-right: auto;
}
.works__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.works__item {
  width: 31.6239316239%;
}

/*project*/
.project {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #FDF8EB;
}
.project__inner {
  width: 73.125%;
  margin-left: auto;
  margin-right: auto;
}
.project__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*COMPANY--------------------------*/
.company {
  margin-top: 100px;
  margin-bottom: 60px;
}
.company__inner {
  width: 73.125%;
  margin-left: auto;
  margin-right: auto;
}
.company__inner .unit {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.company__inner .unit__body {
  width: 700px;
}
.company .story-01 {
  margin-bottom: 60px;
  background: url(../images/bg_project01.jpg) no-repeat center center/cover;
}
.company .story-02 {
  margin-bottom: 60px;
  background: url(../images/bg_project02.jpg) no-repeat center center/cover;
}
.company .overview {
  padding-top: 60px;
  padding-bottom: 100px;
}
.company .overview__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.company .overview__item {
  width: 31.6239316239%;
}
/*# sourceMappingURL=style.css.map */